version: '3.8'

services:
  diet-analysis:
    build: .
    image: diet-analysis:latest
    container_name: nutritional-insights-app
    volumes:
      - ./outputs:/app/outputs
    environment:
      - PYTHONUNBUFFERED=1
    stdin_open: true
    tty: true