name: CI/CD Pipeline for Project 1

# Controls when the workflow will run
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  validate_code:
    runs-on: ubuntu-latest
    
    steps:
    
      # Checkout repository
      - uses: actions/checkout@v4
      
      # Python setup
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      # Install dependencies
      - name: Install dependencies
        run: | 
          pip install pandas matplotlib seaborn azure-storage-blob
      
      # Run processData script
      - name: Run data analysis
        run: |
          python processData.py
      
      # Upload the results
      - name: Upload results
        uses: actions/upload-artifact@v4
        with: 
          name: analysis-results
          path: |
            *.png
            *.csv

  build-docker-local:
    runs-on: ubuntu-latest
    needs: validate_code
    
    steps:
      # Checkout repository
      - uses: actions/checkout@v4
      
      # Build Docker Image
      - name: Build Docker Image
        run: |
          docker build -t diet-analysis:latest .
      
      # List Docker Images
      - name: List Docker Images
        run: |
          docker images
